html
	--color-background: white
	--color-foreground: black
	--color-accent: #05a18a
	--color-navbar: #fff8
	--color-shadow: #0001


@media (prefers-color-scheme: dark)
	html
		--color-background: black
		--color-foreground: white
		--color-accent: #05a18a
		--color-navbar: #0008
		--color-shadow: #fff2


html
	background-color var(--color-background)
	color var(--color-foreground)
