@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
html {
	--color-white: white;
	--color-black: black;

	--color-background: var(--color-white);
	--color-foreground: var(--color-black);
	--color-muted: #444;
	--color-accent: #3b00a2;

	--color-red: #b43114;
	--color-yellow: #727706;
	--color-green: #1c7c15;
	--color-blue: #046898;

	--color-red-bright: #f33910;
	--color-yellow-bright: #ffd200;
	--color-green-bright: #1cc212;
	--color-blue-bright: #13a1de;

	--color-separator: #eee;
	--color-overlay: #fffb;
	--color-shadow: #0001;

	color: var(--color-foreground);
	background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
	html {
		--color-background: var(--color-black);
		--color-foreground: var(--color-white);
		--color-muted: #ddd;
		--color-accent: #a469ff;

		--color-red: #e76546;
		--color-yellow: #b8be34;
		--color-green: #3cb032;
		--color-blue: #369bce;

		--color-separator: #333;
		--color-overlay: #2228;
		--color-shadow: #0001;

		color: var(--color-foreground);
		background-color: var(--color-background);
	}
}

/* Utility styles */
main {
	max-width: 1024px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.clickable {
	cursor: pointer;
}

nav {
	position: sticky;
	top: 0;
	padding: 1em 1.5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	backdrop-filter: blur(1em);
	border-radius: 0 0 1em 1em;
	@apply shadow-neutral-300/10 shadow-xl;
}

nav > *:not(:last-child),
nav .clickable:not(:last-child) {
	margin-right: 1ch;
}

main,
footer {
	padding: 2em min(2em, 5%);
}

/* Forms */
textarea,
label {
	display: block;
}

input {
	background-color: inherit;
}

input,
button {
	transition: color 0.1s ease, background-color 0.1s ease;
}

input,
textarea,
button {
	@apply rounded-xl shadow;
	border: 0.1em solid var(--color-accent);
	color: var(--color-foreground);
	background-color: var(--color-background);
	padding: 0.5em 1em;
}

input.full,
button.full,
textarea.full {
	display: inline-block;
	@apply w-full;
}

input[type='button'],
input[type='submit'],
button {
	color: var(--color-accent);
	user-select: none;
}

button:not([disabled]):not(:active) {
	@apply cursor-pointer;
	background-color: var(--color-background);
}

button:not([disabled]):active {
	@apply shadow-inner;
}

button:not([disabled]):hover {
	background-color: var(--color-accent);
	color: var(--color-background);
}

button[disabled] {
	@apply bg-muted cursor-not-allowed;
}

button.green {
	color: var(--color-green);
	border-color: var(--color-green);
}

button.green:not([disabled]):hover {
	background-color: var(--color-green);
}

button.yellow {
	color: var(--color-yellow);
	border-color: var(--color-yellow);
}

button.yellow:not([disabled]):hover {
	background-color: var(--color-yellow);
}

button.red {
	color: var(--color-red);
	border-color: var(--color-red);
}

button.red:not([disabled]):hover {
	background-color: var(--color-red);
}

input[type='checkbox'] {
	appearance: none;
	width: 6ch;
	padding: 0.2em;
	line-height: 0;
	--handle-size: 2ch;
	@apply mb-1;
}

input[type='checkbox']:active {
	--handle-size: 100%;
}

input[type='checkbox']:before {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	content: '';
	height: 0.75em;
	width: var(--handle-size);
	left: 0;
	background-color: var(--color-red-bright);
	border-radius: 10px;
	transition: left 0.2s cubic-bezier(0, 0, 0, 1.3), width 0.2s cubic-bezier(0, 0, 0, 1.3),
		background-color 0.1s ease;
}

input[type='checkbox']:checked:before {
	left: calc(100% - var(--handle-size));
	background-color: var(--color-green-bright);
}

input[type='checkbox']:active:before {
	background-color: var(--color-yellow-bright);
}

/* Popups */
.popup-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-overlay);
	box-shadow: 0 0 3em var(--color-shadow);
}

.popup-wrapper .popup {
	position: relative;
	left: 50%;
	top: 50%;
	max-width: min(768px, 90vw);
	transform: translate(-50%, -50%);
	padding: 4em min(4em, 10%);
	border-radius: 1em;
	background-color: var(--color-overlay);
	box-shadow: 0 1em 3em var(--color-shadow);
	backdrop-filter: blur(2em);
}

.list-item {
	display: block;
	border-bottom: 1px solid var(--color-separator);
	padding: 1em 0;
}

.popup-enter-active,
.popup-leave-active {
	transition: transform 0.5s ease-in-out;
}

.popup-enter-from,
.popup-leave-to {
	transform: translateY(-100%);
}

@media print {
	.no-print {
		display: none;
	}
}

@media screen {
	.print {
		display: none;
	}
}
